@model User

<h2>Add an item</h2>

@using (Html.BeginForm("Add", "User", FormMethod.Post)) //action name, controller, method
{
    @Html.LabelFor(a => a.FirstName)
    @Html.TextBoxFor(a => a.FirstName)

    @Html.LabelFor(a => a.LastName)
    @Html.TextBoxFor(a => a.LastName)
        
    <input type="submit" value="Submit"/>
}